*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f4f7;
}
body,
html {
  height: 100%;
}

.outer-container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-container {
  padding: 0 24px;
  gap: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.logo {
  align-content: flex-start;
}

.right-sec {
  width: 400px;
  height: 357px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 4px 4px 4.6px -3px rgba(0, 0, 0, 0.01),
    2px 6px 37px 0 rgba(0, 0, 0, 0.1), 1px 3px 10.6px 0 rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
}

input[type="email"] {
  width: 367px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background: #e8f0fe;
  margin-bottom: 13px;
  color: rgba(0, 0, 0, 0.36);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.email {
  align-content: center;
  justify-content: center;
}

input[type="password"] {
  width: 367px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background: #fff;
  margin-bottom: 13px;
  color: rgba(0, 0, 0, 0.36);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
input[type="button"] {
  width: 367px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #d9d9d9;
  background: #0866ff;
  margin-bottom: 13px;
  color: #fff;

  /* btn */
  font-family: "SF Pro AR Display";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

[placeholder] {
  padding-left: 17px;
}

.fPass {
  color: #0866ff;

  /* ques */
  font-family: Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}
